.wp-block-woocommerce-product-button.is-style-btb-icon-add-to-cart
  .wp-block-button__link,
.wc-block-grid
  .wc-block-grid__product-add-to-cart.wp-block-woocommerce-product-button.is-style-btb-icon-add-to-cart
  .wp-block-button__link {
  min-width: 42px;
  width: 42px;
  height: 42px;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 0;
  line-height: 1;
}

.wp-block-woocommerce-product-button.is-style-btb-icon-add-to-cart
  .wp-block-button__link::before,
.wc-block-grid
  .wc-block-grid__product-add-to-cart.wp-block-woocommerce-product-button.is-style-btb-icon-add-to-cart
  .wp-block-button__link::before {
  content: '+';
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
}
