.wp-block-woocommerce-product-button.is-style-btb-icon-add-to-cart
  .wp-block-button__link {
  min-width: 42px;
  width: 42px;
  height: 42px;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  line-height: 1;
  border-radius: 0;
}
.wp-block-woocommerce-product-button.is-style-btb-icon-add-to-cart.align-right {
  align-items: center;
}
.wp-block-woocommerce-product-button.is-style-btb-icon-add-to-cart {
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-start;
  gap: var(--wp--preset--spacing--x-small);
  a.added_to_cart {
    margin-top: 0;
  }
}

.wp-block-woocommerce-product-button.is-style-btb-icon-add-to-cart
  .wp-block-button__link
  > span[data-wp-text='state.addToCartText'] {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.wp-block-woocommerce-product-button.is-style-btb-icon-add-to-cart
  .wp-block-button__link::before {
  content: url("data:image/svg+xml,%3Csvg version='1.2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 21 21' width='21' height='21' fill='%23292c33'%3E%3Cpath d='m6.5 16.2q-0.2 0-0.3 0.1-0.2 0-0.3 0-0.1 0.1-0.2 0.2-0.2 0.1-0.3 0.2-0.2 0.2-0.3 0.5-0.1 0.2-0.1 0.5 0 0.3 0.1 0.6 0.1 0.3 0.3 0.5 0.2 0.2 0.5 0.3 0.3 0.1 0.6 0.1 0.2 0 0.5-0.1 0.3-0.1 0.5-0.3 0.2-0.2 0.3-0.5 0.1-0.3 0.1-0.6 0-0.3-0.1-0.5-0.1-0.3-0.3-0.5-0.1-0.1-0.2-0.2-0.2-0.1-0.3-0.2-0.1 0-0.3 0-0.1-0.1-0.2-0.1z'/%3E%3Cpath d='m14.4 16.2q-0.2 0-0.3 0.1-0.2 0-0.3 0-0.1 0.1-0.2 0.2-0.2 0.1-0.3 0.2-0.2 0.2-0.3 0.5-0.1 0.2-0.1 0.5 0 0.3 0.1 0.6 0.1 0.3 0.3 0.5 0.2 0.2 0.5 0.3 0.3 0.1 0.6 0.1 0.2 0 0.5-0.1 0.3-0.1 0.5-0.3 0.2-0.2 0.3-0.5 0.1-0.3 0.1-0.6 0-0.3-0.1-0.5-0.1-0.3-0.3-0.5-0.1-0.1-0.2-0.2-0.2-0.1-0.3-0.2-0.1 0-0.3 0-0.1-0.1-0.2-0.1z'/%3E%3Cpath d='m15.6 11.4q-0.2 0-0.3 0-0.1 0.1-0.3 0.2-0.1 0.1-0.1 0.2-0.1 0.1-0.1 0.3l-0.1 0.5q-0.1 0.1-0.1 0.2 0 0 0 0.1-0.1 0-0.1 0.1 0 0-0.1 0.1 0 0-0.1 0 0 0.1-0.1 0.1-0.1 0-0.1 0-0.1 0-0.2 0h-7q0 0-0.1 0 0 0-0.1 0-0.1 0-0.1 0-0.1-0.1-0.1-0.1-0.1 0-0.1-0.1-0.1 0-0.1-0.1 0-0.1 0-0.1-0.1-0.1-0.1-0.2l-1-5.3h4.5q0.2 0 0.3-0.1 0.1 0 0.2-0.1 0.1-0.1 0.2-0.3 0-0.1 0-0.3 0-0.1 0-0.2-0.1-0.2-0.2-0.3-0.1-0.1-0.2-0.1-0.2-0.1-0.3-0.1h-4.8l-0.6-3.1q0-0.2-0.1-0.3-0.1-0.1-0.2-0.2 0-0.1-0.2-0.1-0.1 0-0.2 0h-2.9q-0.1 0-0.3 0-0.1 0.1-0.2 0.2-0.1 0.1-0.2 0.3 0 0.1 0 0.3 0 0.1 0.1 0.2 0 0.2 0.1 0.3 0.1 0 0.2 0.1 0.2 0.1 0.3 0h2.3l0.6 3.2q0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0l1.2 6.2q0 0.2 0.1 0.4 0.1 0.2 0.2 0.4 0.1 0.2 0.2 0.3 0.2 0.2 0.3 0.3 0.2 0.1 0.3 0.2 0.2 0.1 0.4 0.1 0.1 0.1 0.3 0.1 0.2 0 0.4 0h6.9q0.2 0 0.4 0 0.2 0 0.4-0.1 0.2-0.1 0.3-0.2 0.2-0.1 0.4-0.2 0.1-0.1 0.2-0.3 0.1-0.1 0.2-0.3 0.1-0.1 0.2-0.3 0-0.2 0.1-0.4l0.1-0.8q0-0.1 0-0.3 0-0.1-0.1-0.2-0.1-0.1-0.2-0.2-0.1 0-0.3 0c0 0 0 0 0 0z'/%3E%3Cpath d='m19.4 4.3h-2.5v-2.6q0-0.1 0-0.2-0.1-0.2-0.2-0.3-0.1-0.1-0.2-0.1-0.1-0.1-0.3-0.1-0.1 0-0.2 0.1-0.2 0-0.3 0.1-0.1 0.1-0.1 0.3-0.1 0.1-0.1 0.2v2.6h-2.5q-0.1 0-0.3 0.1-0.1 0.1-0.2 0.2-0.1 0.1-0.1 0.2-0.1 0.1-0.1 0.3 0 0.1 0.1 0.3 0 0.1 0.1 0.2 0.1 0.1 0.2 0.2 0.2 0 0.3 0h2.5v2.6q0 0.2 0.1 0.3 0 0.1 0.1 0.2 0.1 0.1 0.3 0.2 0.1 0.1 0.2 0.1 0.2 0 0.3-0.1 0.1-0.1 0.2-0.2 0.1-0.1 0.2-0.2 0-0.1 0-0.3v-2.6h2.5q0.2 0 0.3 0 0.2-0.1 0.3-0.2 0.1-0.1 0.1-0.2 0.1-0.2 0.1-0.3 0-0.2-0.1-0.3 0-0.1-0.1-0.2-0.1-0.1-0.3-0.2-0.1-0.1-0.3-0.1z'/%3E%3C/svg%3E");
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
}
